*{
    font-family: 'Inter', sans-serif;
}
.encabezado{
    padding: 0.5rem 0;
}
.encabezado__logo{
    margin: 0 0.75rem;
}
.encabezado__titulo{
    width: 80%;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    text-transform: uppercase;
}

.principal{
    align-items: center;
}
.maquetado{
    align-items: center;
}
.lienzo{
    background-color: aquamarine;
}