* {
  font-family: "Inter", sans-serif;
}
/*Encabezado*/
.encabezado {
  padding: 0.5rem 0;
}
.encabezado__logo {
  margin: 0 0.75rem;
}
.encabezado__titulo {
  width: 80%;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
  text-transform: uppercase;
}
/*main*/
.main {
  align-items: center;
  justify-content: center;
}
button {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 25%;
  border: 0.125rem inset red;
  border-radius: 10px;
  padding: 0.75rem;
  margin: 1rem 0 0.5rem 0;
}
.btn-primario {
  background: rgba(133, 133, 216, 0.521);
}
.btn-primario:hover {
  scale: 1.075;
  background: rgba(133, 133, 216, 0.75);
}
.btn-secundario {
  background: rgba(216, 173, 133, 0.521);
}
.btn-secundario:hover {
  scale: 1.075;
  background: rgba(216, 173, 133, 0.75);
}
.maquetado {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
 
}
/*Pantalla Juego*/
.canvas {
  width: 80%;
  height: 60vh;
  margin: 0 10%;
}
.botonera-juego{
  flex-wrap: wrap;
  flex-direction: column;
}
/*Pantalla principal*/
.pantalla-principal {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Agregar palabras*/
.pantalla-principal__div {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(126, 126, 126, 0.125);
  border-radius: 15px;
}
#agregar-palabra__txt {
  resize: none;
  width: 90%;
  height: 20%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem 0 0.5rem 0;
  display: block;
  background-color: rgba(175, 169, 169, 0.25);
  color: #320707;
  border-radius: 10px;
}
.agregar__span::before{
  content: 	"\26A0";
  margin-right: 0.5rem;}
.agregar__span{
  margin-top: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: .75rem;
  color: red;
}
.div__btn {
  font-size: 0.75rem;
  width: auto;
  padding: 0.25rem;
  margin: 0 1.2rem;
}

/* ocultar pantallas */
.invisible {
  display: none;
}
.jengibre {
  width: 250px;
  height: 185px;
}
/* footer */
footer {
  padding: 0.5rem;
  margin-top: 1rem;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8vh;
  text-align: center;
  background: #636363;
  color: #f3f5fc;
  font-size: 14px;
  padding: 1% 0;
}
.contacto {
  width: 50vw;
  display: inline-block;
}
.contacto p {
  font-style: italic;
  margin: 0 0 0 15px;
}
.contacto img {
  width: 1rem;
  padding: 0 0.1rem;
}
.contacto ul {
  margin: 1rem 0;
}

.contacto li {
  display: inline;
  padding-left: 1rem;
}
